// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#question {
  border-left: solid 3px lightgrey;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 16px;
}

#answer {
  border-left: solid 3px lightgrey;
  padding-left: 20px;
  background-color: #feffe1;
  padding-top: 12px;
  padding-bottom: 12px;
}

#coach-answer {
  font-weight: bold;
}

.author {
  font-style: italic;
}
